default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=3000']
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: no-go-testing
      - id: golangci-lint
  # - repo: local
  #   hooks:
  #     - id: go-test-coverage
  #       name: Test Coverage Check
  #       entry: bash -c 'go run github.com/onsi/ginkgo/v2/ginkgo -r --fail-on-pending --fail-on-empty --keep-going --cover --coverprofile=cover.profile --coverpkg=./... --race --trace --json-report=report.json --poll-progress-after=10s --poll-progress-interval=10s . && go tool cover -func=cover.profile'
  #       language: system
  #       types: [go]
  #       pass_filenames: false
