services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: bigbucks
      POSTGRES_USER: bigbucks
      POSTGRES_PASSWORD: bigbucks
    ports:
      - "6432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/18/data
  # - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:8.4
    ports:
      - "6379:6379"
